body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    width: 70%;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray
}

h1 {
    color: black;
}

p {
    color: darkgray;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

button {
    background-color: blue;
    margin-right: 10px;
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

.results {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 5px solid blue;
    border-radius: 5px;
}